@import './base.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: $veryLightGray;
  color: $darkBlue;
  font-family: $fontFamily;
  height: 100vh;
  padding: 2rem;
  line-height: 1.5rem;
}

.avatar {
  grid-area: avatar;
  width: 2rem;
  height: 2rem;
}

.button-reset {
  border: none;
  background-color: transparent;
}
