@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(228, 33%, 97%);
  color: hsl(212, 24%, 26%);
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
}

.avatar {
  grid-area: avatar;
  width: 2rem;
  height: 2rem;
}

.button-reset {
  border: none;
  background-color: transparent;
}

#root {
  padding: 2rem;
}

.container {
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 50rem;
  margin-inline: auto;
  position: relative;
}

.container-center {
  display: grid;
  place-items: center;
}

.button {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  padding: 1rem 2em;
  border-radius: 0.5rem;
  font-weight: 700;
  border: none;
}

.comment-container {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.comment-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.username {
  font-weight: 700;
}

.own-comment-indication {
  background-color: hsl(238, 40%, 52%);
  color: hsl(0, 0%, 100%);
  padding: 0.1rem 0.5rem;
  border-radius: 3px;
}

.comment-date {
  opacity: 0.8;
}

.comment-text {
  margin: 1rem 0;
  opacity: 0.8;
}

.interactions-container {
  display: flex;
  justify-content: space-between;
}

.upvote-container {
  background-color: hsl(228, 33%, 97%);
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
}

.upvote-count {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
}

.upvote,
.downvote {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  opacity: 0.7;
}

.delete-edit-container {
  display: flex;
  gap: 1rem;
}

.left-arrow-icon {
  font-size: 1.5rem;
}

.button-reset {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.button-center {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.delete-button {
  color: hsl(358, 79%, 66%);
}

.edit-button,
.reply-button {
  color: hsl(238, 40%, 52%);
}

.upvote,
.downvote {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  color: hsl(238, 40%, 52%);
}

.comment-box-container {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "input input" "avatar button";
  align-items: center;
}

.comment-box {
  font-family: "Rubik", sans-serif;
  border: 1px solid hsl(223, 19%, 93%);
  grid-area: input;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  resize: none;
}

.send-button {
  background-color: hsl(238, 40%, 52%);
  grid-area: button;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  max-width: 20rem;
  margin: 0 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.modal-title {
  font-weight: 700;
}

.modal-text {
  padding: 1rem 0;
  opacity: 0.7;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.button {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  padding: 1rem 2em;
  border-radius: 0.5rem;
  font-weight: 700;
  border: none;
}

.modal-cancel-button {
  background-color: hsl(211, 10%, 45%);
}

.modal-delete-button {
  background-color: hsl(358, 79%, 66%);
}/*# sourceMappingURL=main.css.map */